<a href="https://colab.research.google.com/github/AlexSpace07/python/blob/main/%D0%9B%D0%B0%D0%B1%D0%BE%D1%80%D0%B0%D1%82%D0%BE%D1%80%D0%BD%D0%B0%D1%8F_%D0%A0%D0%B0%D0%B1%D0%BE%D1%82%D0%B0_%E2%84%962_(%D0%9C%D0%BE%D0%B4%D1%83%D0%BB%D1%8C_%E2%84%963).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Лабораторная работа по теме: "Введение в анализ данных. Операции над векторами и матрицами в NumPy"

In [ ]:
import pandas as pd
import numpy as np

### Задание №1

Для заданий этого занятия требуется загрузить датасет 'AmazonBooks.xlsx' ([страница датасета на Kaggle](https://www.kaggle.com/datasets/palanjali007/amazons-top-50-bestselling-novels-20092020?select=AmazonBooks.xlsx)). Датасет можно загрузить из директории datasets. Нужные данные находятся на листе 'Sheet1'. В датасете содержатся данные о самых продаваемых книгах на платформе Amazon с 2009 по 2020 год. Выведите последние 10 строк в данном датасете.

In [ ]:
# Испортируем библиотеку
import kagglehub

# Загрузка актуальной версии датасета
path = kagglehub.dataset_download("palanjali007/amazons-top-50-bestselling-novels-20092020")

# Вывод пути к актуальной версии датасета
print("Путь к актуальной версии датасета:", path)

Путь к актуальной версии датасета: /root/.cache/kagglehub/datasets/palanjali007/amazons-top-50-bestselling-novels-20092020/versions/2

In [ ]:
# Чтение локального файла датасета
df = pd.read_excel('/root/.cache/kagglehub/datasets/palanjali007/amazons-top-50-bestselling-novels-20092020/versions/2/AmazonBooks.xlsx', sheet_name='Sheet1')

# Вывод последних 10 строк датасета
print(df.tail(10))

                                                  Name            Author  \
590                              What Should Danny Do?         Adir Levy
591                   Wacky Waving Inflatable Tube Guy    Conor Riordan
592                                The Silent Patient   Alex Michaelides
593               The Big Book of Silly Jokes for Kids   Carole P. Roman
594                           Chicka Chicka Boom Boom    Bill Martin Jr.
595  Live Free Or Die: America (and the World) on t...      Sean Hannity
596                                 Burn After Writing      Sharon Jones
597  Get Out of Your Head: Stopping the Spiral of T...      Jennie Allen
598  Human Body Activity Book for Kids: Hands-On Fu...      Katie Stokes
599                                 Educated: A Memoir    Tara Westover

     User Rating  Reviews  Price  Year        Genre
590          4.8    14705     13  2020      Fiction
591          4.0    25510      7  2020      Fiction
592          4.5    61060     15  2020      Fiction
593          4.7    11668      9  2020      Fiction
594          4.9    20705      4  2020      Fiction
595          4.8    20153     15  2020  Non Fiction
596          4.6    26423      8  2020  Non Fiction
597          4.7    12879     14  2020  Non Fiction
598          4.7    14128      5  2020  Non Fiction
599          4.7    45351     11  2020  Non Fiction

### Задание №2

Отсортируйте датафрейм в порядке возрастания года (year).

In [ ]:
# Сортировка по возрастанию года
df_sorted = df.sort_values('Year', ascending=True)

# Вывод отсортированного датафрейма
print("Данные, отсортированные по году (по возрастанию):")
print(df_sorted)

Данные, отсортированные по году (по возрастанию):
                                                  Name           Author  \
14   Act Like a Lady, Think Like a Man: What Men Re...     Steve Harvey
25   Arguing with Idiots: How to Stop Small Minds a...       Glenn Beck
513               Twilight (The Twilight Saga, Book 1)  Stephenie Meyer
524                                           Watchmen       Alan Moore
520                            Under the Dome: A Novel     Stephen King
..                                                 ...              ...
597  Get Out of Your Head: Stopping the Spiral of T...     Jennie Allen
598  Human Body Activity Book for Kids: Hands-On Fu...     Katie Stokes
595  Live Free Or Die: America (and the World) on t...     Sean Hannity
599                                 Educated: A Memoir   Tara Westover
591                   Wacky Waving Inflatable Tube Guy   Conor Riordan

     User Rating  Reviews  Price  Year        Genre
14           4.6     5013     17  2009  Non Fiction
25           4.6      798      5  2009  Non Fiction
513          4.7    11676      9  2009      Fiction
524          4.8     3829     42  2009      Fiction
520          4.3     6740     20  2009      Fiction
..           ...      ...    ...   ...          ...
597          4.7    12879     14  2020  Non Fiction
598          4.7    14128      5  2020  Non Fiction
595          4.8    20153     15  2020  Non Fiction
599          4.7    45351     11  2020  Non Fiction
591          4.0    25510      7  2020      Fiction

[600 rows x 7 columns]

### Задание №3

Получите срез данных, содержащий в себе только книги дороже 20$ (Price>20).

In [ ]:
# Фильтрация книг дороже 20$
expensive_books = df[df['Price'] > 20]

# Вывод результата
print("Книги дороже 20$:")
print(expensive_books)

Книги дороже 20$:
                                                  Name               Author  \
1                                    11/22/63: A Novel         Stephen King
6    A Game of Thrones / A Clash of Kings / A Storm...  George R. R. Martin
12                             A Stolen Life: A Memoir        Jaycee Dugard
30   Barefoot Contessa Foolproof: Recipes You Can T...           Ina Garten
31   Barefoot Contessa, How Easy Is That?: Fabulous...           Ina Garten
..                                                 ...                  ...
510  Tools of Titans: The Tactics, Routines, and Ha...      Timothy Ferriss
511  Towers of Midnight (Wheel of Time, Book Thirteen)        Robert Jordan
524                                           Watchmen           Alan Moore
550                                    A Promised Land         Barack Obama
584  Modern Comfort Food: A Barefoot Contessa Cookbook           Ina Garten

     User Rating  Reviews  Price  Year        Genre
1            4.6     2052     22  2011      Fiction
6            4.7    19735     30  2014      Fiction
12           4.6     4149     32  2011  Non Fiction
30           4.8     1296     24  2012  Non Fiction
31           4.7      615     21  2010  Non Fiction
..           ...      ...    ...   ...          ...
510          4.6     4360     21  2017  Non Fiction
511          4.8     2282     21  2010      Fiction
524          4.8     3829     42  2009      Fiction
550          4.9    83212     23  2020  Non Fiction
584          4.8    11769     21  2020  Non Fiction

[70 rows x 7 columns]

### Задание №4

Получите срез данных, содержащий только название книги, рейтинг пользователей и количество отзывов. (Name, User Rating, Reviews)

In [ ]:
# Чтение данных из необходимых столбцов датасета
selected_columns = df[['Name', 'User Rating', 'Reviews']]

# Вывод результата
print("Срез данных с названием, рейтингом и отзывами:")
print(selected_columns)

Срез данных с названием, рейтингом и отзывами:
                                                  Name  User Rating  Reviews
0                        10-Day Green Smoothie Cleanse          4.7    17350
1                                    11/22/63: A Novel          4.6     2052
2              12 Rules for Life: An Antidote to Chaos          4.7    18979
3                               1984 (Signet Classics)          4.7    21424
4    5,000 Awesome Facts (About Everything!) (Natio...          4.8     7665
..                                                 ...          ...      ...
595  Live Free Or Die: America (and the World) on t...          4.8    20153
596                                 Burn After Writing          4.6    26423
597  Get Out of Your Head: Stopping the Spiral of T...          4.7    12879
598  Human Body Activity Book for Kids: Hands-On Fu...          4.7    14128
599                                 Educated: A Memoir          4.7    45351

[600 rows x 3 columns]

### Задание №5*

Выведите список (в виде объекта list) уникальных авторов за 2011 год, чье количество отзывовов хотя бы на одну книгу было больше 75 квантиля.

In [ ]:
# Фильтрация данных за 2011 год
df_2011 = df[df['Year'] == 2011]

# Вычисление 75-го квантиля для отзывов за 2011 год
quantile_75 = df_2011['Reviews'].quantile(0.75)

# Фильтрация авторов с количеством отзывов > 75 квантиля
authors_filtered = df_2011[df_2011['Reviews'] > quantile_75]['Author']

# Получение уникальных авторов и преобразование в список
unique_authors = authors_filtered.unique().tolist()

# Вывод результата
print("Уникальные авторы 2011 года с количеством отзывов больше 75 квантиля:")
print(unique_authors)

Уникальные авторы 2011 года с количеством отзывов больше 75 квантиля:
['George R. R. Martin', 'Suzanne Collins', 'Adam Mansbach', 'Todd Burpo', 'Sarah Young', 'Garth Stein', 'Kathryn Stockett', 'Daniel Kahneman', 'Laura Hillenbrand']

### Задание №6

Создайте столбец genre_categories содержащий данные из столбца Genre, преобразованным в тип category, а затем создайте столбец genre_codes, содержащий коды категорий.

In [ ]:
# Создаем столбец genre_categories с типом category
df['genre_categories'] = df['Genre'].astype('category')

# Создаем столбец genre_codes с кодами категорий
df['genre_codes'] = df['genre_categories'].cat.codes

# Выводим результат
print("Добавленные столбцы:")
print(df[['Genre', 'genre_categories', 'genre_codes']].head())

# Дополнительная информация о категориях
print("Соответствие кодов категорий:")
print(df['genre_categories'].cat.categories)

Добавленные столбцы:
         Genre genre_categories  genre_codes
0  Non Fiction      Non Fiction            1
1      Fiction          Fiction            0
2  Non Fiction      Non Fiction            1
3      Fiction          Fiction            0
4  Non Fiction      Non Fiction            1
Соответствие кодов категорий:
Index(['Fiction', 'Non Fiction'], dtype='object')